DB_URL="postgresql://Vechr:123@postgres-db:5432/auth-db?schema=public&connect_timeout=300"
INITIAL_SITE='{"code":"ST1","name":"Site Default","location":"Server Default"}'
INITIAL_SUPERUSER='{"fullName":"root","username": "root","emailAddress":"root@vechr.id","phoneNumber":"+62","password":"password123"}'
JWT_SECRET=secretvechr
ECRYPTED_SECRET=usersecret
JWT_EXPIRES_IN=3d
JWT_REFRESH_EXPIRES_IN=30d
NATS_URL=nats://nats-server:4222

NATS_CA=/certificate/self-signed/rootCA.pem
NATS_KEY=/certificate/self-signed/nats/nats.key
NATS_CERT=/certificate/self-signed/nats/nats.crt

APP_NAME=auth-service

LOKI_HOST=http://loki:3100
LOKI_USERNAME=
LOKI_PASSWORD=

OTLP_HTTP_URL=http://tempo:4318/v1/traces